NODE_ENV=development
PORT=8000


DATABASE_URL="postgresql://neondb_owner:npg_cPdx28nvCUfD@ep-shy-dew-b3x8qlmy-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

JWT_ACCESS_SECRET="b9470b0d73eab6bc94e6012619e1ce249289d5144f692de6a1339b0724b94c28"
JWT_REFRESH_SECRET="7e9c9d64d6e31ebaa54f724761ccf7f514f898ac2003af4ff2509ba1e98edc6f"


# Whatsapp Webhook Config
VERIFY_TOKEN=3453453453343ds4w3345erte5345
PHONE_NUMBER_ID=1353164481205712
ACCESS_TOKEN=EAAMVZBE2vWbgBSd83Gw3WLgF4aa1IIWrhQlwxWwdzZCoIkZCWNP3U8DOKDJbssM1ryFMZAZAyTxFUEPhhvNZB5h3gFemLh0W8HNIQheRVD9flrETR4eIPlrC2T1dOf9ZCGEX5ZCZAyPovP8UNkckwVeminLlXCaZAVhZBMuPRQXGqLojAuBmPGaIoEKEOtLEwl55lPRNYrjEqO9uQnCkT0Fbzk5kk0HEPmdB5faaRDZAouEYWZB3CHynfvEPZBJ9mZBsnqKOiMdgwJMiNtPXAleLgMnnAhCiaoHZBrR9tjLylK9CRgZDZD

DEEPSEEK_API_KEY=sk-deepseekkey

MAILTRAP_HOST="sandbox.smtp.mailtrap.io"
MAILTRAP_PORT=2525
MAILTRAP_USER="64ad9c35c1c4d9"
MAILTRAP_PASS="87d1b938406581"










# //SMS GATEWAY INFORMATIONS
SMS_GATEWAY_URL = http://bulksmsbd.net/api/smsapi
SMS_GATEWAY_API_KEY= uUDFS47kxzXnRICBEXWw
# SMS_GATEWAY_SENDER_ID= 8809617611022
